@model GerenciadorDeClientes.Presentation.Models.AccountForgotPasswordViewModel


@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="text-center text-white">

    <h4>Esqueci minha senha</h4>
    <p>Informe o e-mail do usuário para recuperação de senha.</p>
    <hr />

</div>

<div class="text-center mb-2 text-white">
    <strong>@TempData["Mensagem"]</strong>
</div>

@using(Html.BeginForm(FormMethod.Post, new {@class = "text-white" }))
{
    


    <div class="mb-2">
        <label>E-mail de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new{@class = "form-control", @placeholder = "vagner@gmail.com"})

        <span>@Html.ValidationMessageFor(model => model.Email)</span>

        
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" value="Recuperar senha" class="btn btn-light" />

    </div>

    <div class="mb-2 text-center">
        
        <a href="/Account/Login" class="text-white">Voltar a pagina inicial</a>
        
    </div>


}

